.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.movieSection {
  background-color: black;
}

.dropdown-menu {
  margin-top: 375px;
  min-width: 11rem;
}

.css-1ik61og {
  margin-top: 195px;
  padding: 15px;
  justify-content: center;
  background-color: gold;
}

marquee{
  color: #ffffff;
  font-family: sans-serif;
  }